.columna-contenido {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px); /* header */
    overflow: hidden;
    background: #fff;
}

/* =========================
   HEADER FIJO DEL CONTENIDO
========================= */
.contenido-header-fijo {
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    z-index: 10;
    color: green;
    border-bottom: 2px solid #04b3bb;
    /*background: radial-gradient(circle,rgba(4, 179, 187, 1) 1%, rgba(255, 255, 255, 1) 100%);*/
}

/* Botón izquierdo */
.icono-mostrar-menu {
    width: 22px;
    height: 22px;
    cursor: pointer;
    flex-shrink: 0;
}

/* Título centrado REAL */
.titulo-contenido {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    pointer-events: none; 
}

/* =========================
   CONTENIDO INFERIOR
========================= */
.contenido-principal {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    padding: 15px;
    gap: 12px;
}


@media (max-width: 768px) {
    .contenido-header-fijo {
        height: 44px;
    }
}

.pieLeyend{
	width: 100%;
    font-size: 12px;
    font-weight: bold;
}

