.workspace {
    display: flex;
    height: calc(100vh - 160px); /* header + menú */
}

.panel-cuadernos {
    width: 360px;
    background: #f8f9fb;
    border-right: 1px solid #dcdcdc;
    display: flex;
    /*flex-direction: column;*/
    transition: transform 0.3s ease, width 0.3s ease;
}

.panel-cuadernos-header {
    position: sticky;
    top: 0;
    background: #f8f9fb;
    padding: 10px;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}

.buscador-cuadernos {
    flex: 1;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.btn-nuevo-cuaderno {
    width: 36px;
    border-radius: 6px;
    border: none;
    background: #007279;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


.lista-cuadernos {
    overflow-y: auto;
    flex: 1;
    padding: 6px;
}

.cuaderno-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.cuaderno-item:hover {
    background: #e6f2f2;
}

.cuaderno-nombre {
    font-size: 14px;
    font-weight: 500;
    color: #1B2A4A;
}

.cuaderno-acciones button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.cuaderno-acciones button:hover {
    opacity: 1;
}

.panel-trabajo {
    flex: 1;
    overflow-y: auto;
    background: #ffffff;
}


.workspace.ocultar-cuadernos .panel-cuadernos {
    transform: translateX(-100%);
    width: 0;
}

.workspace.ocultar-cuadernos .panel-cuadernos-header{
    display: none;
}

.workspace.ocultar-cuadernos .sidebar-tabs{
    display: none;
}

@media (max-width: 900px) {
    .panel-cuadernos {
        position: absolute;
        z-index: 200;
        height: 100%;
    }
}

.cuaderno-item.activo {
    background: #d9f1f2;
}



.panel-trabajo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Barra de pestañas */
.tabs-bar {
    display: flex;
    background: #f5f5f5;
    border-bottom: 1px solid #04b3bb;
}

/* Pestaña */
.tab {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    cursor: pointer;
    border-right: 1px solid #ddd;
    background: #eaeaea;
}

.tab.activa {
    background: #ffffff;
    border-bottom: 2px solid #04b3bb;
    font-weight: 600;
    color: black;
}

/* Botón cerrar */
.tab .cerrar {
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

.tab .cerrar:hover {
    color: red;
}

/* Contenido */
.tabs-content {
    flex: 1;
    position: relative;
}

.tab-panel {
    display: none;
    height: 100%;
}

.tab-panel.activo {
    display: block;
}

