/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4);
    display: none;
    z-index: 999;
}

/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    max-width: 90%;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(.95);
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
    z-index: 999999;
    display: flex;
    flex-direction: column;
}

.modal-small {
    width: 360px;
}

.modal.activo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-bottom: 1px solid #e5e7eb;
}

.modal-header h3 {
    margin: 0;
    font-size: 16px;
}

.modal-cerrar {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

/* Body */
.modal-body {
    padding: 16px;
}

.modal-body label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.modal-body input {
    width: 93%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

.modal-body input:focus {
    border-color: #04b3bb;
}

/* Footer */
.modal-footer {
    padding: 12px 16px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid #e5e7eb;
}

/* Botones */
.btn-primario {
    background: #007279;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-secundario {
    background: #e5e7eb;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-danger {
    background: #dc2626;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}
