/* ===== TOAST CONTAINER ===== */
#toast-container {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	
	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	
	
	width: auto;
	max-width: calc(100vw - 32px);
	pointer-events: none;
}

/* ===== TOAST ===== */
.toast {
    min-width: 260px;
    max-width: 360px;
    padding: 14px 16px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: toastIn .3s ease-out;
}

.toast {
	pointer-events: auto; /* sí permite cerrar */
}

/* Colores */
.toast-success { background: #299E5B; }
.toast-error   { background: #990505; }
.toast-warning { background: #fd850c; }
.toast-info    { background: #27CFF5; }

/* Botón cerrar */
.toast-close {
    margin-left: 12px;
    cursor: pointer;
    font-weight: bold;
    opacity: .8;
}

.toast-close:hover {
    opacity: 1;
}

/* Animación */
@keyframes toastIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 600px) {
    #toast-container {
        right: 50%;
        transform: translateX(50%);
    }
}